<div class="container">
	<div class="row">
		<div class="head">
            <span> </span>
            <h3>Новий пацієнт</h3>
        </div>
		<%= render 'form' %>

		<%= link_to 'Назад', users_path %>
	</div>
</div>

