<div class="container">
	<div class="row">
		<div class="head">
            <span> </span>
            <h3>Новий пацієнт</h3>
        </div>
        <div class="col-lg-6"><img src="../assets/work-img2.png" alt="" /></div>
        <div class="col-lg-6 test-class"><%= render 'form'%></div>
		

		<%= link_to 'Назад', users_path %>
	</div>
</div>

