<div class="container">
	<div class="row">
        <div class="head">
            <span> </span>
            <h3>Редагувати новину</h3>
        </div>

		<%= render 'form' %>

		<%= link_to 'Показати', @news, class:"btn btn-danger" %> |
		<%= link_to 'Назад', news_index_path, class:"btn btn-warning" %>

	</div>
</div>
