<div class="container">
	<div class="row">
        <div class="head">
            <span> </span>
            <h3>Нова новина</h3>
        </div>

		<%= render 'form' %>

		<%= link_to 'Назад', news_index_path, class:"myBtn myBtn2" %>

	</div>
</div>
