<div class="container">
  <div class="row">
      <div class="head"> 
        <span> </span>
        <h3>Редагувати товар</h3>
    </div>

	<%= render 'form' %>

	<%= link_to 'Show', @price, class:"myBtn" %> 
	<%= link_to 'Back', prices_path, class:"myBtn myBtn2" %> 
	</div>
</div>