<div class="container">
	<div class="row">
		<div class="head">
            <span> </span>
            <h3>Що нас відрізняє</h3>
        </div>
        <div class="col-md-3">
        	<img src="http://upload.wikimedia.org/wikipedia/commons/f/f7/%D0%91%D0%B5%D0%BB%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%B0%D1%8F_%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D0%BD%D0%B0%D1%8F_%D0%BA%D0%BB%D0%B8%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D0%B1%D0%BE%D0%BB%D1%8C%D0%BD%D0%B8%D1%86%D0%B0_%D0%A1%D0%B2%D1%8F%D1%82%D0%B8%D1%82%D0%B5%D0%BB%D1%8F_%D0%98%D0%BE%D0%B0%D1%81%D0%B0%D1%84%D0%B0.jpg" alt="">
        </div>
        <div class="col-md-9">
        	<p>Керівний принцип нашої клініки завжди був надання виключного піклування про пацієнта 24 години на день 365 днів на рік. Цей декларативний принцип був у центрі уваги в 1993 році, коли клініка відкривалася, і він залишився нашою догмою, яку ми сповідуємо впродовж останніх 20 років.</p>
        	<ul class="about-ul">
        		<li>Найвищі стандарти лікування</li>
        		<li>Досвідчені лікарi</li>
        		<li>Надійні діагностичні технології</li>
        		<li>Унікальне обладнанн</li>
        		<li>Доброзичливий персоналя</li>
        		<li>Медична допомога 24/7</li>
        	</ul>
			
			<h2 class="content-h3">ПРОВІДНІ ФАХІВЦІ</h2>
			<h3>Наші лікарі, найкращі у своєму напрямку!</h3>
			<p>
			Це основний принцип нашої клініки — усі лікарі, усі консультанти, які практикують у стінах нашого медичного закладу, спеціалісти вищої кваліфікації.

			Наші лікарі є лідерами у своїх напрямках; майже всі спеціалісти — вищої категорії, доктора та кандидати наук, викладачі на медичних кафедрах. Щоб отримати дозвіл працювати в нашій клініці, їм необхідно відповідати строгим медичним стандартам, а також нашим власним суворим процедурам відбору.
			</p>  
        </div>
	</div>
</div>